# Jetbrains
.idea/

# MacOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/

# models
models/

# git # TODO: unignore when ready
.gitattributes

# extra # TODO: unignore when ready
TODO.txt
LICENSE.txt
CONTRIBUTING.md

# tmp files
scripts/tmp.py